.header{
  width: 83.33%;
  position: fixed;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8.33%;
  background-color: black;
  /* border-bottom: 1px solid #fecf3b; */
}


.nav-links{
  display: flex;
  justify-content: flex-end;
}

.nav-links li{
  margin-right: 20px;
}

.nav-links li:hover{
  cursor: pointer;
  color: #fecf3b;
}

.nav-links li a{
  padding-bottom: 18px;
}

.nav-links li .active-link{
  border-bottom: 2px solid #fecf3b;
}

.nav-links li:last-of-type{
  margin-right: 0;
}

.header-left a{
  letter-spacing: 4px;
  font-weight: 600;
  text-transform: uppercase;
}