.proj-index{
  min-height: 100vh;
  /* margin-bottom: 50px; */
}

.proj-header{
  width: 100%;
  border-bottom: 1px solid white;
  padding: 20px 0;
}

.proj-item{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
}
/* 
.proj-item.category-open{
  border-bottom: 3px solid  #69e0a5;
} */

.proj-item-bottom.hidden, .category-item-bottom.hidden{
  max-height: 0;
  padding: 0 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out, opacity .8s ease-out;
  overflow: hidden;
  opacity: 0.01;
}


.proj-item-bottom{
  min-width: 100%;
  max-height: 800px;
  transition: max-height 0.5s ease-in, padding 0.5s ease-in, opacity .8s ease-in;
  padding: 20px 0;
  overflow: hidden;
  opacity: 1;
}

.category-item-bottom{
  min-width: 100%;
  max-height: 4000px;
  transition: max-height 0.5s ease-in, padding 0.5s ease-in, opacity .8s ease-in;
  /* padding: 20px 0; */
  overflow: hidden;
  opacity: 1;
}


.proj-item-third{
  width: 33.33%;
  align-items: center;
  display: flex;
}

.category-item-third{
  align-items: center;
  display: flex;
}

.arrow{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 3rem;
}

.proj-item-two-third{
  width: 66.66%;
  display: flex;
  align-items: center;
}

.proj-btn{
  margin-left: 24px;
}

.center{
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  width: 66.66%;
  padding-left: 30px;
  line-height: 18px;
}


.right{
  justify-content: flex-end;
  display: flex;
  width: 33.33%;
}


.proj-item-top, .proj-item-bottom, .category-item-top{
  display: flex;
}

.category-item-top{
  justify-content: space-between;
}

.proj-item-top, .category-item-top{
  padding: 30px 0;
  cursor: pointer;
  min-height: 80px;
  transition: color .5s ease;
  /* z-index: 2; */
  background-color: black;
}

.proj-item-top:hover, .category-item-top:hover{
  /* color: #fecf3b; */
  color: #69e0a5;
  transition: color 1s ease;
}

/* .proj-item-top:hover a{
  color: #ffffff;
} */

.open .proj-item-top{
  color: #69e0a5;
}

.category-open .category-item-top{
  color: #69e0a5;
}

.proj-item-left, .proj-item-right{
  display: flex;
  align-items: center;
  width: 50%;
}

.proj-item-right{
  align-items: flex-start;
}

.proj-item-left .img-container{
  width: 100%;
}

.proj-title{
  text-transform: capitalize;
  font-size: 36px;
}

.category-title{
  text-transform: capitalize;
  font-size: 52px;
}

.proj-info{
  font-size: 14px;
  padding-left: 20px;
}

.proj-list-item{
  padding-bottom: 2px;
  font-size: 14px;
}

#team{
  padding-bottom: 6px;
}

#time, #technology{
  padding-bottom: 12px;
}

#time, #location{
  color: #c9c9c9;
}

.proj-list-item.bullet{
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 12px;
  padding-left: 20px;
}

.single-line{
  font-size: 12px;
  line-height: 18px;
  /* padding-bottom: 12px; */
}

.bullet li{
  list-style-type: circle;
  /* list-style-position: inside; */
}

.proj-splash{
  border-radius: 4px;
  background-color: white;
}

.active a{
  color: #ffffff;
}

.proj-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid white;
}

.proj-btn:hover{
  /* background-color: rgb(46, 46, 46); */
  background-color: white;
  color: black;
  transition: all 0.5s ease;
}

.proj-header.category{
  color: #69e0a5; 
  font-size: 14px;
  font-weight: 600;
}