.splash{
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
}

.splash-left, .splash-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash-left{
  align-items: flex-start;
  /* line-height: 30px; */
  font-size: 2rem;
}

.splash-left > div{
  display: flex;
  margin-top: 10px;
  min-height: 40px;
}

.splash-right{
  align-items: flex-end;
}

#splash-img{
  width: 60%;
}

#splash-img img{
  border-radius: 3px;
}

.splash-left h2{
  display: flex;
  font-size: 10rem;
  /* font-family: 'Playball', cursive; */
  color: #69e0a5;
  font-style: italic;
  /* font-weight: 800; */
}

.colored-text{
  color: #69e0a5;
  height: inherit;
}