body{
  background-color: #000000;
  color: #ffffff;
  font-family: 'Cabin', sans-serif;  
}

iframe{
 border: none;
 width: 100%;
 padding-top: 60px;
 height: 90vh;
}

a.active-link{
  color: #fecf3b;
}

.img-container img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.main{
  padding: 0 8.33%;
}